* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #fff7f0;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.header .h1 {
    position: relative;
    font-family: "Anton", serif;
    color: #262523;
    font-size: 25vw;
    line-height: 1.525;
}



/*.container {
    border: 2px solid red;
    display: flex;
    justify-content: center;
}

.profile {
    background: white;
    width: 300px;
    height: 400px;
    margin: 200px;
    border-radius: 20px;
}

.socials {
    background: white;
    width: 300px;
    height: 400px;
    margin: 200px;
    border-radius: 20px;
}

.profile-img {
    height: 150px;
    margin-bottom: 20px;
    margin-right: 150px;
    background-size: cover;
    border-radius: 20px 0px 0px 0;
    border:0.5px solid aliceblue;
}

.social-img {
    background-color: aqua;
    height: 150px;
    margin-bottom: 15px;
    border-radius: 20px 20px 0 0;
}

.img-1 {
    background-image: url('profile.jpg');
}

*/

